.loading svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 .loading circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 

/* dialogo */

.dialogUp {
  scale: .8;
  opacity: .3;
  animation: scale .14s ease 1 both;
}

.dialogDown {
  scale: 1;
  opacity: 1;
  animation: scaleDown .14s ease 1 both;
}

@keyframes scale {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes scaleDown {
  to {
    scale: .5;
    opacity: 0;
  }
}